html {
  font-size: 10px;
  background: url('../background.jpg') center center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

kbd {
  display: block;

  font-size: 4rem;
  font-family: 'Bodoni MT', Didot, serif;
}

.keys {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.key {
  border: 0.4rem solid rgba(1, 66, 118, 1);
  border-radius: 0.5rem;

  width: 10rem;

  margin: 1rem;
  padding: 1rem 0.5rem;

  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.75);

  color: #d8f0ea;
  background: rgba(82, 152, 197, 0.25);

  transition: all 0.07s ease;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #9cc2e0;
}
