* {
  --cream: #f4f1de;
  --peach: #e07a5f;
  --grey: #3d405b;
  --green: #81b29a;
  --yellow: #f2cc8f;
}

body {
  width: 100vw;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;

  margin: unset;

  background: var(--cream);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--grey);

  &:visited {
    font-style: italic;
    color: var(--grey);
  }

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  width: 58vw;

  padding: 0;
  margin: auto;

  li {
    position: relative;
    display: flex;
    flex-grow: 1;

    justify-content: space-around;
    align-items: center;

    height: 20em;
    width: 20em;

    margin: 2em;
    border-radius: 0.5em;

    background: var(--green);
    box-shadow: 15px 20px 20px var(--grey);

    transition: ease-in-out 0.25s;

    overflow: hidden;

    a {
      position: relative;
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;

      font-size: 2.5em;

      justify-content: center;
      align-items: center;
      text-align: center;

      height: 100%;
      width: 100%;

      transition: ease-in-out 0.25s;
    }

    p {
      display: none;
      position: absolute;
      z-index: -1;

      transition: ease-in-out 0.25s;

      color: var(--grey);
      text-align: center;
      font-size: large;

      width: 80%;
    }

    &:hover {
      transform: translateY(1em);
      transition: ease-in-out 0.25s;
      box-shadow: 10px 15px 5px var(--grey);

      a {
        opacity: 0;
      }

      p {
        display: block;
        opacity: 1;
      }
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;

  background: var(--yellow);
}

main {
  margin: 0;
  padding: 2em 0;

  height: 80vh;
  width: 100vw;
}

footer {
}

.title {
  margin: 0 1em;

  color: var(--grey);
}
