:root {
  --white: #fff;
  --lighterGrey: #dcdcdc;
  --lightGrey: #c4c4c4;
  --grey: #878787;
  --darkGrey: #454545;
  --black: #000;
}

html {
  font-size: 12px;
  background: var(--lightGrey);
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

kbd {
  display: block;

  font-size: 2rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.keys {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  justify-content: center;
  align-items: center;

  &__top {
  }
  &__middle {
  }
  &__bottom {
  }
}

.key {
  border-radius: 0.5em;

  box-shadow: 0.15rem 0.25rem 0 var(--white),
    inset -0.25rem -0.5rem 0 var(--darkGrey);

  width: 10rem;
  min-height: 5rem;

  margin: 1rem;
  padding: 2rem 0.5rem;

  font-size: 1.5rem;
  text-align: center;
  // text-shadow: 0.25rem 0.25rem 0.5rem var(--brown);

  color: var(--white);
  background: var(--black);
  transition: all 0.07s ease;
}

.playing {
  transform: translate(0.14em, 0.24em);
  // border-color: var(--yellow);
  box-shadow: unset;

  // box-shadow: 0 0 1rem var(--yellow);
}

.character {
  font-size: 1.5rem;
  color: var(--white);
}
